
@font-face {
	font-family: 'DINPro-Regular';
	src: url('../fonts/DINPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINPro-Regular.otf')  format('opentype'),
	url('../fonts/DINPro-Regular.woff') format('woff'), url('../fonts/DINPro-Regular.ttf')  format('truetype'), url('../fonts/DINPro-Regular.svg#DINPro-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINPro-Bold';
	src: url('../fonts/DINPro-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/DINPro-Bold.otf')  format('opentype'),
	url('../fonts/DINPro-Bold.woff') format('woff'), url('../fonts/DINPro-Bold.ttf')  format('truetype'), url('../fonts/DINPro-Bold.svg#DINPro-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Gotham-Medium';
	src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/Gotham-Medium.otf')  format('opentype'),
	url('../fonts/Gotham-Medium.woff') format('woff'), url('../fonts/Gotham-Medium.ttf')  format('truetype'), url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	font-family: "DINPro-Regular";
}

h1, h2, h3 {
	font-family: 'Gotham-Medium';
	margin:0;
	color:#000;
	font-weight: bold;
	padding: 10px;
}

.rojo {
	color:#b90053;
}

.navigation-bar {
	background:transparent !important;
}

.navigation-bar__title {
	color:#fff;
}

ons-toolbar ~ .page__content {
	top: 0px;
}

ons-carousel-item {
	display: table;
	text-align: center;
}
.item-label {
	display: table-cell;
	vertical-align: middle;
	color: white;
	line-height: 1;
	font-size: 48px;
	font-weight: bold;
}
.cover-label {
	text-align: center;
	position: absolute;
	left: 0px;
	width: 100%;
	bottom: 10px;
	color: white;
}

.full-screen {
	width:100%;
	height:100%;
}

.auto {
	margin-left: 10px;
	margin-right: 10px;
}

.auto img {
	width:100%;
	height:auto;
}

.navigation {
	margin-top: 40px;
}

.navigation img {
	max-width:50px;
}

.navigation .button {
	margin-left: 40px;
	margin-right: 40px;
}

.redes {
	margin-top: 40px;
}

.redes img {
	max-width:40px;
}

.nobutton {
	background: none;
	border: none;
	box-shadow: none;
	background-size: 100% auto;
	padding: 0px 0px;
}

.animate {
	-webkit-transition-property: opacity;
	-moz-transition-property: opacity;
	-o-transition-property: opacity;
	transition-property: opacity;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s;
	transition-duration: 0.5s;
	-webkit-transition-timing-function: ease-out;
	-moz-transition-timing-function: ease-out;
	-o-transition-timing-function: ease-out;
	transition-timing-function: ease-out;
	opacity:0;
}

.opaque {
	opacity: 1;
}

.slide-content {
	display:table;
}